.footer{
    width: 100%;
    background-color: rgb(164,160,156);
    text-align: center;
    padding: 0.6%;
}


.websiteLastline{

    text-align: center;
    width: 100%;
    
}

.copyright{

    font-size: 0.7rem;
}

.websiteLastline a{

    text-decoration: none;
    color: #2980BB;
}